name: Docker Image CI

on:
  push:
    branches: [master]

jobs:
  build:
    name: Build and publish
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
        with:
          ref: master
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      -
        name: Docker meta
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: |
            simeononsecurity/docker-vlmcsd
          flavor: |
            latest=true
          tags: |
            type=schedule,pattern=latest
      -
        name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: simeononsecurity
          password: ${{ secrets.DOCKERHUB_ACCESS_TOKEN }}
          
      - name: Print tag
        run: echo "${{ steps.meta.outputs.tags }}"
      -
        name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: ./
          platforms: linux/amd64, linux/arm64, linux/arm/v7, linux/arm/v6, linux/386
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: |
            type=registry,ref=simeononsecurity/docker-vlmcsd:buildcache
          cache-to: |
            type=registry,ref=simeononsecurity/docker-vlmcsd:buildcache,mode=max
